*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    overflow-x: hidden;
    color: azure;
    font-family: 'Baloo Tamma 2', cursive;
    font-family: 'Lexend Giga', sans-serif;
    font-family: 'Noto Serif', serif;
}

header{
    background-image: linear-gradient(rgba(0,0,0 ,0.7),rgba(0,0,0,0.9)), url(../images/gate.jpeg) ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.row{
    max-width: 1180px;
    margin: 0 auto;

}
.clearfix::after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}
.logo{
    height: 120px;
    width: auto;
    float: left;
    margin-top: 20px;
}
.main_nav{
    float: right;
    margin-top: 60px;
    margin-right: auto;
}
.main_nav li{
    display: inline-block;
    list-style-type: none;
    margin-left: 40px;
}
.main_nav li a{
    padding: 5px 0%;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 100;
}
.main_nav li a:hover{
    border-bottom: 2px solid blueviolet;
}
.Main_cnt{
    width: 1189px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1{
    color: #ffffff;
    font-size: 200%;
    /*word-spacing: 5pxs;
    letter-spacing: 3px;*/
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: lighter;
    
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2;
    text-transform: uppercase;

}
.btn1{
    background-color: transparent;
    color: blueviolet;
    margin-left: 15px;
    border: 1px solid blueviolet;
}
.btn1:hover{
    background-color: #ffffff;

}
.btn2{
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    
}
.btn2:hover{
    background-color: blueviolet;
}
.colorchg{
    animation: chgcol 1s infinite;

}
@keyframes chgcol {
    0%{color: crimson;}
    25%{color: blueviolet;}
    50%{color: #ffffff;}
    100%{color: blue;}
}
.moblicn{display: none}

@media only screen and (max-width: 1180px){
    .Main_cnt{
        width: 100%;
        padding: 0 2%;
    }

}
@media only screen and (max-width: 998px){
    h1{font-size: 180%;}
}
@media only screen and (max-width: 768px){
    h1{font-size: 160%;}
    .main_nav{
        float: left;
    }
    .moblicn{
        display: inline-block;
        color: #ffffff;
        float: right;
        padding: 5% 5%;
    }
    .main_nav li{
        display: block;
        margin-top: 10px;
    }
}
    
